In [23]:
pip install sqlalchemy pymysql

Requirement already satisfied: sqlalchemy in c:\users\user\anaconda3\lib\site-packages (1.4.54)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: pymysql in c:\users\user\anaconda3\lib\site-packages (1.1.1)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\user\anaconda3\lib\site-packages (from sqlalchemy) (3.1.0)

In [1]:
from sqlalchemy import create_engine

username = 'root'
password = ''
host = 'localhost'
port = '3306'
database = 'awesome_chocolates'
engine = create_engine(f'mysql+pymysql://{username}:{password}@{host}:{port}')
                       
with engine.connect() as connection:
    connection.execute(f"CREATE DATABASE IF NOT EXISTS {database}")
   
    
    engine = create_engine(f'mysql+pymysql://{username}:{password}@{host}:{port}/{database}')
    print('Connected')

Connected

C:\Users\user\AppData\Local\Temp\ipykernel_3840\1004824673.py:11: RemovedIn20Warning: Deprecated API features detected! These feature(s) are not compatible with SQLAlchemy 2.0. To prevent incompatible upgrades prior to updating applications, ensure requirements files are pinned to "sqlalchemy<2.0". Set environment variable SQLALCHEMY_WARN_20=1 to show all deprecation warnings.  Set environment variable SQLALCHEMY_SILENCE_UBER_WARNING=1 to silence this message. (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  connection.execute(f"CREATE DATABASE IF NOT EXISTS {database}")

In [27]:
from sqlalchemy import create_engine

username = 'root'
password = ''
host = 'localhost'
port = '3306'
database = 'awesome_chocolates'
try:
    with engine.connect() as connection:
        connection = create_engine(f'mysql+pymysql://{username}:{password}@{host}:{port}/{database}')
        print("Connection Successful")
except Exception as e:
    print(f"Failed to connect: {e}")

Connection Successful

In [30]:
import pandas as pd

query = "SELECT * FROM sales"

df = pd.read_sql_query(query, engine)

df.head()

   SPID GeoID  PID   SaleDate  Amount  Customers  Boxes
0  SP01    G4  P04 2021-01-01    8414        276    495
1  SP02    G3  P14 2021-01-01     532        317     54
2  SP12    G2  P08 2021-01-01    5376        178    269
3  SP01    G4  P15 2021-01-01     259         32     22
4  SP19    G2  P18 2021-01-01    5530          4    179

In [32]:
query  = "SELECT GeoID, SUM(Amount) AS TotalSales FROM sales GROUP BY GeoID"
df = pd.read_sql_query(query, engine)
df.head

<bound method NDFrame.head of   GeoID  TotalSales
0    G1   7310254.0
1    G2   7012523.0
2    G3   7350091.0
3    G4   7435918.0
4    G5   7263151.0
5    G6   7189609.0>

In [50]:
query = """SELECT GeoID, SUM(Boxes) AS TotalBoxes 
            FROM sales 
            WHERE GeoID = 'G1' AND SaleDate BETWEEN 
            '2021-01-01' AND '2023-12-31'"""
df = pd.read_sql_query(query, engine)
df.head()

  GeoID  TotalBoxes
0    G1    490374.0

In [51]:
query = "SELECT * FROM sales"

df = pd.read_sql_query(query, engine)

df.to_csv('sales.csv', index=False)

In [53]:
df = pd.read_csv('sales.csv')
df.head(10)

   SPID GeoID  PID    SaleDate  Amount  Customers  Boxes
0  SP01    G4  P04  2021-01-01    8414        276    495
1  SP02    G3  P14  2021-01-01     532        317     54
2  SP12    G2  P08  2021-01-01    5376        178    269
3  SP01    G4  P15  2021-01-01     259         32     22
4  SP19    G2  P18  2021-01-01    5530          4    179
5  SP17    G1  P13  2021-01-01    2184         63    122
6  SP20    G6  P04  2021-01-01    1057        295     71
7  SP14    G5  P16  2021-01-01    1036        370     37
8  SP10    G5  P17  2021-01-01    4039        536    176
9  SP06    G4  P01  2021-01-01   12894        115    478